body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    border: 1px solid black;
}

.calculator {
    width: 500px;
    height: 825px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    border-radius: 5px;
}

.display {
    box-sizing: border-box;
    width: 500px;
    height: 150px;
    margin-bottom: 28px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 5px;
}

.text {
    height: 100%;
    width: fit-content;
    font-size: 95px;
    border: none;
    font-family: monospace;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.keys {
    width: 500px;
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.keyRow {
    border: none;
    margin: 5px 0;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    box-sizing: border-box;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.operatorKey,
#equalsKey {
    margin: 0;
}

#clearKey,
.zero {
    width: 245px;
    flex-shrink: 0;
}

/* Light grey */
#clearKey,
#deleteKey {
    background-color: rgb(239, 239, 239);
}

#clearKey:hover,
#deleteKey:hover {
    background-color: rgb(245 245, 245);
}

#clearKey:active,
#deleteKey:active {
    background-color: rgb(229, 229, 229);
}


/* Darkgrey */
.numberKey,
#decimalKey {
    background-color: rgb(199, 199, 199);
}

.numberKey:hover,
#decimalKey:hover {
    background-color: rgb(210, 210, 210);
}

.numberKey:active,
#decimalKey:active {
    background-color: rgb(190, 190, 190);
}

/* Orange */
.operatorKey,
#equalsKey {
    background-color: rgb(255, 182, 129);
}

.operatorKey:hover,
#equalsKey:hover,
.selectedOperator {
    background-color: rgb(255, 207, 129);
}

.operatorKey:active,
#equalsKey:active {
    background-color: rgb(255, 167, 104);
}